# Node
node_modules
dist
.env
.env.*

# Python
__pycache__/
*.pyc
venv/

# Docker
*.log

# Prisma
prisma/migrations/**/migration_lock.toml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Build
build
coverage

# MinIO data
minio_data

# Elastic data
elastic_data

# Postgres data
postgres_data
